@charset "iso-8859-1";

BODY {
	background: 		#ffffff url(../images/bg_alla_ldark.gif);
	color:				#000000;
	font-family:		verdana, arial, helvetica, serif;
	font-weight:		normal;
	font-size:			10pt;
	text-align:			justify;
	margin: 			0;
	padding: 			0;
}
.page_background {
	background: 		#000000 url('../images/bg_alla_ldark.gif');
}
.main_page {
	background: 		#d6c399 url('../images/bg_alla.gif');
	color:				#000000;
	font-family: 		verdana, arial, helvetica, serif;
	font-weight:		normal;
	font-size:			10pt;
	text-align:			justify;
	margin: 			0;
	padding: 			0;
	border-bottom:		1px solid #696969!important;
}
.sub_welcome {
	border-left:		1px solid #696969;
	border-right:		1px solid #696969;
	border-bottom: 		1px solid rgb(229, 229, 229);
	min-height: 		110px;
	background: 		url("../images/bgmenu_title_alla.gif") repeat scroll 0% 0% transparent;
}
A:link { 
	text-decoration:	none;
	font-weight:	  	unset;/*  none;*/
	color: 		    	#0000FF;
}
A:active { 
	text-decoration:  	none;
	font-weight:	    unset;/*  none;*/
	color: 		    	#0000FF;
}
A:visited { 
	text-decoration:  	none;
	font-weight:	    unset;/*  none;*/
	color: 		    	#0000FF;
}
A:hover { 
	text-decoration:  	underline;
	font-weight:	    unset;/*  none;*/
	color: 		    	#0000FF;
}
.form {
	background-color: 	#d6c399;
	color:            	#000000;
	text-align:       	left;
	font-size:			13px;
	font-weight:		normal;
	padding:          	2px 4px 2px 4px;
	border:           	#000000 1px solid;
}
TABLE {
	font-family:		arial,helvetica, serif;
	font-weight:		normal; 
	font-size:		  	10pt;
	text-align:		  	inherit;
	vertical-align:   	top;
	margin:           	0;
	padding:          	0;
}
.tab_title {
	font-weight:    	bold;
	text-align:     	center;
}
.myheader {
	background: 		url(../images/header_alla.gif) no-repeat center;
	font-family: 		'Arial', Times, serif;
	font-weight: 		bold;
	text-align: 		right;
	vertical-align: 	top;
	text-decoration: 	none;
	font-size: 			26px;
	color: 				#000000;
}
.myline {
	background-image: 	url(../images/line_alla.gif);
}
.menu_title {
	font-family: 		'Arial', Times, serif;
	font-weight: 		bold;
	text-decoration: 	none;
	font-size: 			11px;
	border: 			1px outset;
	background: 		url('../images/bgmenu_title_alla.gif');
	padding:  			0 4px 0 4px;
}
.menu_item {
	font-family: 		'Arial', Times, serif;
	font-weight: 		normal;
	text-decoration: 	none;
	font-size: 			12px;
	border: 			0 none;
	padding:  			0 4px 0 4px;
}
.page_title {
	color:  			#000000;
	font-size:  		20pt;
	font-family: 		'Arial', serif;
	font-weight:		bold;
	text-align: 		center;
	/*font:Arial;*/
	width:				100%
}
.page_small_title {
	color:  			#000000;
	font-size:  		18pt;
	font-family: 		'Times New Roman', serif;
	font-weight:		bold; 
	text-align:			left;
	padding:  			0 4px 0 4px;
}
.left-content {
	border-left: 1px solid #696969 !important;
}
.right-content {
	border-right:		1px solid #696969!important;
}
.headerrow {
	background: 		#B1A67E;
	color: 				black;
	font-size: 			12px;
	font-weight: 		bold;
	margin: 			0;
}
.menuh {
	font-weight:		bold;
	border-style:		solid;
	border-color:		#e5e5e5 #696969 #696969 #e5e5e5;
	border-width:		1px;
	background:			url('../images/bgmenu_title_alla.gif');
}
.lr, .s2-lr {
	background:			#d4c7ab url('../images/bg_alla_light.gif');
}
.dr, .s2-dr {
	background:			#d7c69a url('../images/bg_alla_dark.gif');
}
.header_cell {
	font-weight:		bold;
	font-size: 			20pt;
}
#easyTooltip {
	padding:			5px 10px;
	border:				1px solid #195fa4;
	background:			#195fa4 repeat-x;
	color:				#fff;
}
#easyTooltip2 {
	padding:			5px 10px;
	border:				1px solid #000000;
	background:			#5e5e5e repeat-x;
	color:				#fff;
	width:				450px;
}
#easyTooltip2 h4, #easyTooltip2 p, #easyTooltip2 table {
	color:				#fff;
	margin:				.25em 0;
}
input[type=text], input[type=password], textarea, select {
	font-family: 		Verdana, 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
	font-size: 			12px;
	color: 				#424242;
	padding: 			3px;
	border: 			1px solid #CCC;
	outline: 			none;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 		3px;
	
	-moz-box-shadow: 	0 1px 2px rgba(0, 0, 0, .15) inset;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15) inset;
	box-shadow: 		0 1px 2px rgba(0, 0, 0, .15) inset;
	
	-moz-transition: 	border .2s linear, box-shadow .2s linear;
	-webkit-transition: border .2s linear, -webkit-box-shadow .2s linear;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus {
    border: 			1px solid #80bfff;
    -moz-box-shadow: 	0 0 3px #80bfff, 0 1px 2px rgba(0, 0, 0, .15) inset;
    -webkit-box-shadow: 0 0 3px #80bfff, 0 1px 2px rgba(0, 0, 0, .15) inset;
    box-shadow: 		0 0 3px #80bfff, 0 1px 2px rgba(0, 0, 0, .15) inset;
}

/* For modern browsers */
.cf:before, .cf:after {
    content:			"";
    display:			table;
}
.cf:after {
    clear:				both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:				1;
}

/* =Dropdown------------------------------------------ */
.dropdown .item {
	padding-right: 		25px;
}
.dropdown .arrow {
	/*background: 		url(../images/layout/nav_arrow_lite.png) no-repeat 0 0;*/
	width: 				8px;
	height: 			4px;
	display: 			block;
	margin-top: 		-2px;
	position: 			absolute;
	top: 				50%;
	right: 				10px;
}
.dropdown .item.icon {
	padding-right: 		20px;
}
.dropdown .item.icon span {
	left: 				0;
}

/* =Btn----------------------------------------------- */
.btn, .btn:visited {
	background: 		repeat-x 0 0;
	font-weight: 		bold;
	text-align: 		center;
	text-decoration: 	none;
	line-height: 		normal;
	color: 				#FFF;
	display: 			inline-block;
	margin: 			0;
	*overflow: 			visible;
	position: 			relative;
	border: 			1px solid;
	cursor: 			pointer;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 		4px;
	text-shadow: 		1px 1px 1px rgba(0,0,0,.25);
	-moz-box-shadow: 	1px 1px 1px rgba(0,0,0,.25);
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.25);
	box-shadow: 		1px 1px 1px rgba(0,0,0,.25);
}

div.pagination {
	padding: 			3px;
	margin: 			3px;
}
div.pagination a {
	padding: 			2px 5px 2px 5px;
	margin: 			2px;
	border: 			1px solid #999999;
	text-decoration: 	none;
}
div.pagination a:active, div.pagination a:hover {
	border: 			1px solid #ffffff;
}
div.pagination span.current {
	padding: 			2px 5px 2px 5px;
	margin: 			2px;
	border: 			1px solid #ffffff;
	font-weight: 		bold;
}
div.pagination span.disabled {
	padding: 			2px 5px 2px 5px;
	margin: 			2px;
	border: 			1px solid #EEE;
}
.zam-search {
	margin-left:		4px;
	margin-bottom:		4px;
}

.navbar {
	border: 			1px solid #696969;
	font:				14px Arial,Helvetica,sans-serif;
	height:				35px;
	list-style-type:	none;
	margin:				0;
	padding:			0;
	position:			center;
	background:			url(../images/bg_alla.gif) bottom;
}
.navbar ul {
	list-style-type:	none;
	padding:			0;
	margin:				0;
	background:			url(../images/bg_alla.gif) bottom;
}
/* Top level menu names */
.navbar > li > a {
	border-left:		1px solid #696969;
	border-right:		1px solid #696969;
	text-decoration: 	none;
	color:				black;
}
.navbar li a {
	display: 			block;
	line-height:		35px;
	margin:				0;
	padding:			0 17px
}
.navbar li a:hover {
	background:			url(../images/nav.jpg) bottom;
	color:				blue;
}

/* Set the parent <li>?s CSS position property to ?relative?. */
.navbar li {
	display:			block;
	position:			relative;
	float:				left;
	background:			url(../images/bg_alla.gif) bottom;
}
/* The CSS to hide the sub menus. */
li ul {
	display:			none;
}
.navbar li ul li a {
	white-space: 		nowrap;
	color: 				black;
	font-size: 			12px;
	line-height: 		26px;
	text-decoration: 	none;
	display: 			block;
	padding: 			0 10px !important;
	background:			url(../images/bg_alla.gif) bottom;
	border: 			1px solid rgb(229, 229, 229);
	border-right-color: rgb(0, 0, 0);
	border-bottom-color: rgb(0, 0, 0);
}
.navbar li ul li a:hover {
	text-decoration: 	none;
	background:			url(../images/bgd.gif) bottom;
	color:				blue;
}
/* Displays the dropdown menu on hover. */
li:hover > ul {
	display:			block;
	position:			absolute;
	background-color: 	#f9f9f9;
	min-width: 			120px;
	border: 			1px solid rgb(105, 105, 105);
}
li:hover li {
	float: none;
	border-left:		1px solid #696969;
	border-right:		1px solid #696969;
	text-decoration: 	none;
	color:				black;
}
li:hover a {
	background:			url(../images/nav.jpg) bottom;
}
/* These 2 handle background images on menus when sub menu is hovered, not quite right yet */
.navbar > li:hover a {
	background:			url(../images/nav.jpg) bottom;
}
.navbar li:hover ul li a:hover {
	background:			url(../images/nav.jpg) bottom;
}
/* Displays second level dropdown menus to the right of the first level dropdown menu. */
ul ul ul {
	left:				100%;
	top:				0;
}
/* Simple clearfix. */
ul:before, ul:after {
	content:			" "; /* 1 */
	display:			table; /* 2 */
}
ul:after {
	clear:				both;
}